/nbproject/private/
/GoldClassOnline-ejb/nbproject/private/
/GoldClassOnline-war/nbproject/private/
/BackOfficeAdminSystem/nbproject/private/
/GoldClassOnline-ejb/build/
/GoldClassOnline-ejb/dist/
/BackOfficeAdminSystem/build/
/BackOfficeAdminSystem/dist/
/build/
/GoldClassOnline-war/build/
/dist/
/GoldClassOnline-war/dist/